@model ProjFinalCinelAirClient.Models.RegisterNewUserViewModel
    @{ ViewData["Title"] = "Register"; }
    @{ Layout = null; }


    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet" />
    @*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@

<br />
<br />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">

            <div id="toptitle" class="d-flex justify-content-center">
                <h1 style="font-family: 'Poppins', Arial, sans-serif">Cinel<span style="color:cadetblue">Air</span></h1>
            </div>
            <br />

            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-success" style="font-weight: bold; ">
                        @ViewBag.Message
                </div>
            }

            <div style="border: 1.5px black solid; border-radius:25px; padding: 15px; font-family: 'Arial Rounded MT', Arial, sans-serif">

                <h2>Create Account</h2>

                <div asp-validation-summary="ModelOnly"></div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="FirstName">First Name</label>
                            <input maxlength="50" asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="LastName">Last Name</label>
                            <input maxlength="50" asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input maxlength="100" asp-for="Email" type="email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Password">Password</label>
                            <input maxlength="20" asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Confirm">Confirm Password</label>
                            <input maxlength="20" asp-for="Confirm" type="password" class="form-control" />
                            <span asp-validation-for="Confirm" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="PhoneNumber"> Phone Number</label>
                            <input maxlength="9" asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="DateofBirth">Date of Birth</label>
                            <input asp-for="DateofBirth" type="date" value="2000-01-02" min="1920-01-02" class="form-control" />
                            <span asp-validation-for="DateofBirth" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="StreetAddress">Street Address</label>
                            <input maxlength="150" asp-for="StreetAddress" class="form-control" />
                            <span asp-validation-for="StreetAddress" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="PostalCode">Postal Code</label>
                            <input maxlength="8" asp-for="PostalCode" class="form-control" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="TaxNumber">Tax Number</label>
                            <input maxlength="9" asp-for="TaxNumber"  type="tel" class="form-control" />
                            <span asp-validation-for="TaxNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Identification">Citizen Card Number</label>
                            <input asp-for="Identification" class="form-control" />
                            <span asp-validation-for="Identification" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Register Account" style="font-weight:bold; background-color:cadetblue" class="btn btn-primary btn-block" />
                    <input type="submit" value="Back" class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Home" />
                </div>

            </div>
        </form>
    </div>
    
</div>




<div class="container">
    <hr />
    <footer>
        <p>&copy; 2020 - AutoWorkshop.Web</p>
    </footer>
</div>


