@model ProjFinalCinelAir.CommonCore.Data.Entities.Client
@{
    ViewData["Title"] = "Employee Details";
}

<div>
    <div class="container">

        <h2>Employee Details</h2>
        <br />
        @if (!string.IsNullOrEmpty(@ViewBag.UserMessage))
        {
            <div class="text-success">
                <p>
                    @ViewBag.UserMessage
                </p>
            </div>

            <br />
            <div class="form-group">
                <a class="btn btn-success" asp-controller="Home" asp-action="Index">Home</a>
            </div>

        }

        else
        {

            <div class="row">
                <div class="col-md-4 offset-md-4" style="min-width: 50%; margin:auto">
                    <form>

                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-group" style="width: 48%; float: left; margin-right:4%">
                            <label asp-for="FirstName">First Name</label>
                            <input asp-for="FirstName" class="form-control" disabled />
                        </div>

                        <div class="form-group" style="float:left; width: 48%; float:left">
                            <label asp-for="LastName">Last Name</label>
                            <input asp-for="LastName" class="form-control" disabled />
                        </div>

                        <div class="form-group" style=" width: 100%;">
                            <label asp-for="User.Email">Email</label>
                            <input asp-for="User.Email" class="form-control" disabled />
                        </div>


                        <div class="form-group" style="width: 48%; float: left;margin-right:4%">
                            <label asp-for="PhoneNumber">Phone Number</label>
                            <input asp-for="PhoneNumber" class="form-control" disabled />
                        </div>

                        <div class="form-group" style="width: 48%; float: left;">
                            <label asp-for="TaxNumber">Tax Number</label>
                            <input asp-for="TaxNumber" class="form-control" disabled />
                        </div>

                        <div class="form-group" style="width: 48%; float: left; margin-right:4%">
                            <label asp-for="Identification">Identification Number</label>
                            <input asp-for="Identification" class="form-control" disabled />
                        </div>

                        <div class="form-group" style="width: 48%; float: left;">
                            <label asp-for="DateofBirth" class="control-label"></label>
                            <input asp-for="DateofBirth" type="date" class="form-control" disabled />
                        </div>


                        <div class="form-group" style="width: 48%; float: left;margin-right:4%">
                            <label asp-for="JoinDate" class="control-label"></label>
                            <input asp-for="JoinDate" type="date" class="form-control" disabled />
                        </div>

                        <div class="form-group" style="width: 4%; float: left;">
                            <label asp-for="isClientNumberConfirmed" class="control-label"></label>
                            <input asp-for="isClientNumberConfirmed" class="form-control" disabled/>
                        </div>
                        <br />
                        <br />
                        <div class="form-group" style=" float: right; margin-top:30px">
                            <a class="btn btn-success" asp-action="Index">Back To List</a>
                        </div>

                    </form>
                </div>


            </div>
        }
    </div>
</div>





