@model ProjFinalCinelAirAdmin.Models.ClientViewModel
@{
    ViewData["Title"] = "Employee Details";
}

<div>
    <div class="container">

        <h2>Client Details</h2>
        <br />
        @if (!string.IsNullOrEmpty(@ViewBag.UserMessage))
        {
            <div class="text-success">
                <p>
                    @ViewBag.UserMessage
                </p>
            </div>

            <br />
            <div class="form-group">
                <a class="btn btn-success" asp-controller="Home" asp-action="Index">Home</a>
            </div>

        }

        else
        {

            <div class="row">
                <div class="col-md-4 offset-md-4" style="min-width: 50%; margin:auto">
                    <form>

                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-group" style="width: 48%; float: left; margin-right:4%">
                            <label asp-for="client.FirstName">First Name</label>
                            <input asp-for="client.FirstName" class="form-control" disabled />
                        </div>

                        <div class="form-group" style="float:left; width: 48%; float:left">
                            <label asp-for="client.LastName">Last Name</label>
                            <input asp-for="client.LastName" class="form-control" disabled />
                        </div>

                        <div class="form-group" style=" width: 100%;">
                            <label asp-for="client.User.Email">Email</label>
                            <input asp-for="client.User.Email" class="form-control" disabled />
                        </div>


                        <div class="form-group" style="width: 48%; float: left;margin-right:4%">
                            <label asp-for="client.PhoneNumber">Phone Number</label>
                            <input asp-for="client.PhoneNumber" class="form-control" disabled />
                        </div>

                        <div class="form-group" style="width: 48%; float: left;">
                            <label asp-for="client.TaxNumber">Tax Number</label>
                            <input asp-for="client.TaxNumber" class="form-control" disabled />
                        </div>

                        <div class="form-group" style="width: 48%; float: left; margin-right:4%">
                            <label asp-for="client.Identification">Identification Number</label>
                            <input asp-for="client.Identification" class="form-control" disabled />
                        </div>

                        <div class="form-group" style="width: 48%; float: left;">
                            <label asp-for="client.DateofBirth" class="control-label"></label>
                            <input asp-for="client.DateofBirth" type="date" class="form-control" disabled />
                        </div>


                        <div class="form-group" style="width: 48%; float: left;margin-right:4%">
                            <label asp-for="client.JoinDate" class="control-label"></label>
                            <input asp-for="client.JoinDate" type="date" class="form-control" disabled />
                        </div>

                        <div class="form-group" style="width: 4%; float: left;">
                            <label asp-for="client.isClientNumberConfirmed" class="control-label"></label>
                            <input asp-for="client.isClientNumberConfirmed" class="form-control" disabled />
                        </div>
                        <div class="form-group" style="width: 48%; float: left;">
                            <label asp-for="StatusName" class="control-label"></label>
                            <input asp-for="StatusName" class="form-control" disabled />
                        </div>
                        <br />
                        <br />
                        <div class="form-group" style=" float: right; margin-top:30px">
                            <a class="btn btn-success" asp-action="Index">Back To List</a>
                        </div>

                    </form>
                </div>


            </div>
        }
    </div>
</div>





